@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>THIS IS FOOTBALL4CASH!!!!! WHAT'S UP!!!! IF YOU LOVE WHEN FALL HITS AND THOSE SUNDAY NIGHT FOOTBALL GAMES FIRE YOU UP MORE THAN A GRILL ON THE 4TH OF JULY THEN THIS IS THE APP FOR YOU! WHY ARE YOU STILL READING THIS GO BACK TO THE HOME PAGE AND REGISTER!</p>
