@{
    ViewData["Title"] = "Welcome";
}
<h1>@ViewData["Message"]</h1>

<div class="options">Please choose from the prompts below:</div>
<!--Make all links to new HTML pages.. Make Welcome a controller? maybe might have to change some old things in welcome controller-->
<div>View this weeks picks</div>
<div>Edit this weeks picks</div>
<div>Standings</div>
<div>Chat with group</div>
<div>Exit Football4Cash</div>

